Given a signed 32-bit integer x, return x with its digits reversed. If reversing x causes the value to go outside the signed 32-bit integer range [-2**31, 2**31 - 1], then return 0.

In [19]:
def reverse(num):
      num = str(num)
      ans = ''

      # checking the number is negetive or not
      if num[0] == '-':
          ans =num[0]
          num = num[1:]

      # reversing the numbers
      for char in num[::-1]:
          ans += char
      ans = int(ans)

      # checking whether the answer is 32 bit
      if ans >= 0:
        if ans < ((2**31)-1):
          return ans
      else:
        if ans > -2**31:
          return ans

      # if it is not a 32 bit number then return 0
      return 0

In [20]:
print(reverse(-351))

-153

In [22]:
print(reverse(1234578798))

0

#### SQL ANSWER





```
CREATE FUNCTION NthHighestSalary(N INT) RETURNS INT
BEGIN
SET N = N-1;
  RETURN (
      SELECT DISTINCT(salary) from Employee order by salary DESC
      LIMIT 1 OFFSET N
      
  );
END


```